POSTGRES_USER=marketplace
POSTGRES_PASSWORD=marketplace
POSTGRES_PORT=5432
RABBITMQ_USER=helder
RABBITMQ_PASSWORD=marketplace
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
PROMETHEUS_PORT=9090
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
GRAFANA_PORT=3000
CADVISOR_PORT=8085
FAILURE_RATE=0
LATENCY_MS=0
UNAVAILABLE=false
TOXIPROXY_API_PORT=8474
TOKIO_WORKER_THREADS=2
AMQP_CONSUMER_CONCURRENCY=1
SERVICE_CPUS=1.0
SERVICE_MEMORY=256m
POSTGRES_CPUS=2.0
POSTGRES_MEMORY=1g
RABBITMQ_CPUS=1.0
RABBITMQ_MEMORY=1g
K6_CPUS=2.0
K6_MEMORY=1g
CATALOG_TIMEOUT_ENABLED=true
CATALOG_RETRY_ENABLED=true
CATALOG_BREAKER_ENABLED=true
CATALOG_FALLBACK_ENABLED=true
GATEWAY_BREAKER_ENABLED=true
PAYMENT_REPROCESS_ENABLED=true
